@keyframes left-right {
  from {opacity: 0; transform: translateX(-100%)}
  to { opacity: 1; transform: translateX(0) }
}

@keyframes right-left {
  from { opacity: 0; transform: translateX(100%)}
  to { opacity: 1; transform: translateX(0) }
}

body {
  overflow-x: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #DE0922;
}

.header {
  background: #E4E5E4;
}

.header-wrapper {
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 202px;
  height: 68px;
  margin-bottom: 25px;
  display: block;
}

.header-logo img {
  width: 100%;
}

.header-buttons {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin: 0 95px;
}

.nav-list__item {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: 45px;
  transition: .3s;
  cursor: pointer;
}

.nav-list__item:first-child {
  margin-left: 0;
}

a.nav-list__item:hover {
  opacity: .7;
}

.nav-list__item .submenu {
  display: none;
  position: absolute;
  width: 252px;
  top: -49px;
  left: -36px;
  background: #D9D9D9;
  border-radius: 0 0 15px 15px;
  padding: 49px 0 32px 36px;
  z-index: 2;
}

.submenu-item {
  position: relative;
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  color: #2E2E2E;
  margin-bottom: 18px;
  padding-right: 36px;
}

.submenu-item:after {
  position: absolute;
  content: '';
  top: -18px;
  right: 0;
  width: 30px;
  height: 60px;
  background: url("../svg/pointer.svg");
  opacity: 0;
  transition: .3s;
}

.submenu-item.major {
  font-size: 18px;
  color: #000000;
  margin-bottom: 43px;
}

.submenu-item:hover {
  color: #DE0922;
}

.submenu-item:hover::after {
  opacity: 1;
}

.burger-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E4E5E4;
  border: 2px solid #D9D9D9;
  border-radius: 50px;;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: -16px;
  right: -33px;
  width: 349px;
  padding: 11px 24px 48px 44px;
  height: auto;
  background: rgba(217, 217, 217, 0.9);
  border-radius: 0 0 0 15px;
  z-index: 3;
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__nav {
  margin-top: 25px;
  margin-bottom: 116px;
}

.mobile-menu__par {
  margin-top: 50px;
}

.mobile-menu__item.major {
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-left: 0;
}

.mobile-menu__item {
  display: block;
  margin-bottom: 15px;
  padding-left: 20px;
}

.close-img {
  cursor: pointer;
}

.btn:focus {
  box-shadow: none;
  background: inherit;
  color: #000000;
}

.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  height: 75px;
  width: 160px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #272727;
  transition: .3s;
  background: #E4E5E4;
}

.btn-white:hover {
  background: #D9D9D9;
}

.btn-main {
  background: #E4E5E4;
  border: 2px solid #D9D9D9;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 240px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #272727;
  transition: .3s;
}

.btn-main:hover {
  background: #ffffff;
  border: 2px solid #D9D9D9;
  color: #272727;
}

.btn-more {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2E2E2E;
  border: 2px solid #E4E5E4;
  border-radius: 50px;
  height: 75px;
  width: 254px;
  transition: .3s;
}

.btn-more:after {
  position: absolute;
  content: '';
  background: url('../svg/arrow.svg') no-repeat;
  width: 9px;
  height: 14px;
  right: 25px;
  top: calc(50% - 7px);
  transition: .3s;
}

.btn-more:hover {
  border: 2px solid #DE0922;
  color: #DE0922;
  background: #ffffff;
}

.btn-more:hover::after {
  right: 20px;
}

.btn-more.large {
  width: 305px;
}

.large.btn-more:after {
  right: 40px;
}

.btn-mini {
  background: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2E2E2E;
  width: 190px;
  height: 49px;
  transition: .3s;
}

.btn-mini:hover {
  background: #D9D9D9;
  color: #000000;
  border: 1px solid #D9D9D9;
}

.btn-back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  width: 122px;
  font-weight: 300;
  height: 38px;
  background: #FFFFFF;
  border: 2px solid #E4E5E4;
  border-radius: 50px;
  color: #2E2E2E;
}

.btn-back:before {
  position: absolute;
  content: '';
  top: 9px;
  left: 20px;
  width: 8px;
  height: 14px;
  background: url("../svg/arrow.svg") no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.promo-block {
  position: relative;
  height: 689px;
}

.promo-block-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 689px;
  justify-content: flex-end;
}

.promo-block-content:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 8px;
  top: 126px;
  right: -145px;
  background: #D9D9D9;
  z-index: 1;
}

.promo-block-content .main-title {
  position: absolute;
  top: 51px;
  left: 36%;
  width: 320px;
  z-index: 1;
}

.promo-block__btn {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
}

.promo-block__btn .btn-main {
  position: relative;
  width: 150px;
  height: 50px;
  background: rgba(228, 229, 228, 0.8);
  border: 2px solid #D9D9D9;
}

.promo-block__btn .btn-main:after {
  position: absolute;
  content: '';
  right: 22px;
  top: 16px;
  width: 8px;
  height: 14px;
  background: url("../svg/arrow.svg") no-repeat;
  background-size: contain;
}

.main-title .title-2 {
  text-align: right;
  color: #E4E5E4;
  line-height: 91%;
}

.title-2 {
  color: #2E2E2E;
  font-size: 48px;
  line-height: 125%;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  margin-left: 0;
  width: 60%;
  height: 689px;
  border-radius: 0 0 50px 0;
  overflow: hidden;
  z-index: 1;
}

.promo-slider img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.promo-block-content .description {
  width: 365px;
  margin-left: 40px;
  font-size: 20px;
}

.promo-block-content .btn-more {
  position: absolute;
  bottom: 0;
}

.title-3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #2E2E2E;
}

.news-block {
  padding: 69px 0 100px;
  position: relative;
  z-index: 2;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
}

.art-item {
  width: 410px;
  margin-top: 45px;
}

.card-item {
  height: 100%;
  background: rgba(229, 229, 229, 0.4);
  border: 2px solid rgba(217, 217, 217, 0.5);
  border-radius: 0 0 30px 0;
}

.card-item:hover .card-pic img {
  transform: scale(1.2);
}

.card-pic {
  width: 406px;
  height: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-pic img {
  width: 100%;
  margin: 0 auto;
  transform: scale(1);
  transition: .4s;
}

.card-data {
  position: absolute;
  background: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 139px;
  height: 35px;
  top: 150px;
  left: 20px;
  color: #fff;
}

.card-body {
  padding: 18px 24px 20px 26px;
  font-size: 18px;
  line-height: 22px;
}

.card-text {
  transition: .3s;
}

.card-text:hover {
  color: #DE0922;
}
.social-pr {
  position: relative;
  padding: 100px 0;
  background: #E4E5E4;
  z-index: 0;
  overflow-x: hidden;
}

.social-pr:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../svg/back.svg");
  z-index: -1;
}

.social-pr__wrapper {
  margin: 0 100px;
  padding: 72px 160px 86px;
  background: #FFFFFF;
  border-radius: 0 0 0 50px;
}

.social-pr__list {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.social-list-item {
  text-transform: uppercase;
  list-style: none;
  font-size: 24px;
  margin-top: 35px;
}

.social-list-item::before {
  content: "•";
  font-size: 35px;
  line-height: 0;
  color: #DE0922;
}

.best-projects {
  position: relative;
  padding: 96px 0 72px;
}

.online-school {
  position: relative;
  height: 453px;
}

.school-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 453px;
  border-radius: 0 0 30px 0;
  overflow: hidden;
}

.school-img img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.school-wrapper {
  position: relative;
}

.school-wrapper:before {
  position: absolute;
  content: '';
  width: 50%;
  height: 8px;
  top: 80px;
  right: -185px;
  background: #D9D9D9;
  z-index: 1;
}

.school-title {
  position: absolute;
  top: 50px;
  left: calc(50% - 250px);
}

.school-title .title-2 {
  color: #E4E5E4;
  line-height: 91%;
}

.school-content {
  width: 370px;
  height: 453px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.school-content .description {
  font-size: 20px;
  margin-bottom: 40px;
}

.courses {
  padding: 70px 0 100px;
}



.footer-nav {
  background: #E4E5E4;
  padding: 60px 0 95px;
  position: relative;
  z-index: 0;
}

.footer-list-item {
  display: block;
  margin-top: 10px;
  transition: .3s;
}

.footer-list-item:hover {
  opacity: .7;
}

.footer-list-item .major {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-info {
  padding: 77px 0 93px;
}

.footer-info__link {
  display: block;
  padding-left: 50px;
  transition: .3s;
}

.footer-info__link:hover {
  opacity: .7;
}

.footer-info .description {
  margin-top: 50px;
  color: #BCBCBC;
}

.breadcrumb-back {
  padding: 64px 0 31px;
}

.tag-wrapper {
  margin-top: 30px;
}

.tag-item {
  padding: 10px 28px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 15px;
  color: #2E2E2E;
  text-transform: uppercase;
  display: inline-block;
}

.article-title {
  width: 920px;
}

.article-subtitle {
  width: 920px;
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
}

.article-slider {
  margin-top: 30px;
}

.article-slider .carousel-item {
  height: 564px;
  border-radius: 0 0 50px 0;
  overflow: hidden;
}

.article-slider .carousel-control-prev,
.article-slider .carousel-control-next {
  opacity: 1;
}

.article-slider .carousel-control-prev-icon,
.article-slider .carousel-control-next-icon {
  width: 60px;
  height: 60px;
  opacity: .5;
  transition: .3s;
}

.article-slider .carousel-control-prev-icon:hover,
.article-slider .carousel-control-next-icon:hover {
  opacity: 1;
}

.article-slider .carousel-control-prev-icon {
  background-image: url("../svg/arrow-slide-left.svg");
}

.article-slider .carousel-control-next-icon {
  background-image: url("../svg/arrow-slide-right.svg");
}

.article-slider .carousel-indicators .active {
  background-color: #DE0922;
}

.article-text {
  width: 920px;
  font-size: 20px;
  margin-top: 75px;
}

.article-text .subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.article-btn {
  margin-top: 100px;
}






.decorate-lines {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.decorate-lines-1__1 {
  position: absolute;
  background: url("../img/lines-1-1.png") no-repeat;
  background-size: contain;
  width: 201px;
  height: 201px;
  transform: translateX(-100%);
}

.animated .decorate-lines-1__1 {
  animation-name: left-right;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.decorate-lines-1__2 {
  position: absolute;
  background: url("../img/lines-1-2.png") no-repeat;
  background-size: contain;
  width: 556px;
  height: 750px;
  transform: translateX(-100%);
}

.animated .decorate-lines-1__2 {
  animation-name: left-right;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

.decorate-lines-1__3 {
  position: absolute;
  background: url("../img/lines-1-3.png") no-repeat;
  background-size: contain;
  width: 338px;
  height: 338px;
  transform: translateX(-100%);
}

.animated .decorate-lines-1__3 {
  animation-name: left-right;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.decorate-lines-2 {
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  z-index: -1;
}

.decorate-lines-2__1 {
  position: absolute;
  background: url("../img/lines-2-1.png") no-repeat;
  background-size: contain;
  width: 188px;
  height: 374px;
  right: 0;
  top: 417px;
  transform: translateX(100%);
}

.animated .decorate-lines-2__1 {
  animation-name: right-left;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.decorate-lines-2__2 {
  position: absolute;
  background: url("../img/lines-2-2.png") no-repeat;
  background-size: contain;
  width: 341px;
  height: 335px;
  right: 0;
  transform: translateX(100%);
}

.animated .decorate-lines-2__2 {
  animation-name: right-left;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.decorate-lines-2__3 {
  position: absolute;
  background: url("../img/lines-2-3.png") no-repeat;
  background-size: contain;
  width: 732px;
  height: 1164px;
  right: 0;
  transform: translateX(100%);
}

.animated .decorate-lines-2__3 {
  animation-name: right-left;
  animation-timing-function: ease-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}

.decorate-lines-3 {
  bottom: 0;
}

.decorate-lines-3__1 {
  position: absolute;
  background: url("../img/lines-3-1.png") no-repeat;
  background-size: contain;
  width: 201px;
  height: 201px;
  bottom: 0;
  transform: translateX(-100%);
}

.animated .decorate-lines-3__1 {
  animation-name: left-right;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.decorate-lines-3__2 {
  position: absolute;
  background: url("../img/lines-3-2.png") no-repeat;
  background-size: contain;
  width: 750px;
  height: 556px;
  transform: translateX(-100%);
  bottom: 0;
}

.animated .decorate-lines-3__2 {
  animation-name: left-right;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 46, 46, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
}

@media (max-width: 1400px) {

  .btn-main {
    width: 160px;
  }

  .nav-list {
    margin: 0 30px;
  }

  .promo-block-content:before {
    width: 33%;
    right: 0;
  }

  .btn-mini {
    width: 160px;
  }

  .art-item {
    width: 345px;
  }

  .card-pic {
    width: 341px;
  }

  .card-data {
    width: 117px;
  }

  .school-wrapper:before {
    width: 33%;
    right: 0;
  }
}

@media (max-width: 1200px) {

  .header-logo {
    width: 162px;
    height: 55px;
  }

  .nav-list__item {
    margin-left: 30px;
  }

  .promo-slider {
    width: 56%;
  }

  .promo-block-content:before {
    width: 28%;
  }

  .news-wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .social-pr__wrapper {
    padding: 72px 36px 86px;
  }

  .school-img {
    width: 55%;
  }
}

@media (max-width: 992px) {

  .header-wrapper {
    height: 85px;
  }

  .btn-main {
    height: 50px;
  }

  .promo-block {
    height: auto;
    padding-bottom: 70px;
  }

  .promo-slider {
    position: relative;
    width: 100%;
  }

  .promo-block-content {
    height: auto;
    display: block;
  }

  .promo-block-content:before {
    display: none;
  }

  .promo-block-content .main-title {
    position: relative;
    left: auto;
    top: auto;
    margin-top: 40px;
  }

  .main-title .title-2 {
    text-align: left;
    color: #2E2E2E;
  }

  .promo-block-content .description {
    width: auto;
    margin-left: 0;
    margin-top: 40px;
  }

  .promo-block-content .btn-more {
    position: relative;
    margin-top: 30px;
  }

  .social-pr__list {
    display: block;
  }

  .online-school {
    height: auto;
  }

  .school-img {
    position: relative;
    width: 100%;
  }

  .school-content {
    height: auto;
    width: auto;
    margin-left: 0;
    display: block;
    margin-top: 32px;
  }

  .school-title {
    width: 240px;
    top: -165px;
    left: auto;
    right: 0;
  }

  .school-title .title-2 {
    text-align: right;
  }

  .school-wrapper:before {
    height: 6px;
    top: -190px;
  }

  .footer-info__link {
    padding-left: 0;
  }

  .breadcrumb-back {
    padding: 30px 0 50px;
  }

  .article-slider .carousel-item {
    height: auto;
  }

  .article-slider .carousel-control-prev-icon,
  .article-slider .carousel-control-next-icon {
    width: 27px;
    height: 27px;
  }

  .article-title {
    width: 100%;
  }

  .article-title .title-2 {
    font-size: 20px;
  }

  .tag-wrapper {
    margin-top: 20px;
  }

  .article-subtitle {
    width: 100%;
  }

  .article-text {
    width: 100%;
    margin-top: 65px;
  }

  .article-btn {
    margin-top: 60px;
  }

  .decorate-lines-2__3 {
    width: 431px;
    height: 690px
  }

  .decorate-lines-2__2 {
    width: 200px;
  }

  .decorate-lines-2__1 {
    width: 120px;
    top: 248px;
  }

  .decorate-lines-3__2 {
    width: 400px;
    height: 296px;
  }

  .decorate-lines-3__1 {
    width: 106px;
    height: 106px;
  }
}

@media (max-width: 768px) {

  .header-wrapper .btn-main {
    width: 100px;
  }

  .promo-slider {
    height: 319px;
  }

  .news-block {
    padding: 100px 0 49px;
  }

  .art-item {
    margin-top: 30px;
  }

  .social-pr__wrapper {
    margin: 0;
  }

  .school-img {
    height: 319px;
  }

  .footer-list {
    margin-top: 50px;
  }

  .footer-nav {
    padding: 5px 0 113px;
  }

  .footer-info {
    padding: 50px 0 130px;
  }

  .footer-info .description {
    margin-bottom: 100px;
  }
}

@media (max-width: 576px) {

  .mobile-menu {
    right: -12px;
  }

  .social-pr__list ul {
    padding-left: 0;
  }

  .social-pr__wrapper {
    padding: 50px 36px;
  }




  .decorate-lines-1__1 {
    width: 110px;
  }

  .decorate-lines-1__2 {
    width: 305px;
  }

  .decorate-lines-1__3 {
    width: 186px;
  }

  .decorate-lines-2 {
    display: none;
  }

}

@media (max-width: 375px) {

  .decorate-lines-3__1 {
    width: 66px;
    height: 66px;
  }

  .decorate-lines-3__2 {
    width: 250px;
    height: 185px;
  }

}